{% extends "base.html" %}
{% block content %}
<body>
    <h2>Areas</h2>
    <table>
        <tr>
            <td>Area</td>
            <td>Furniture </td>
            <td>Price</td>
        </tr>
    {% for object in object_list %}
        <tr>
            <td>{{object.name}}</td>
            <td>{{object.furnitures.name}}</td>
            <td>{{object.furnitures.price}}</td>
        </tr>
    {% endfor %}
    </table>

</table>
<br>
<h2>Total Furniture Amount</h2>
    <table>
    <tr>
        <td>Areas</td>
        <td>Total<br> Furniture</td>
    </tr>
    <tr>
{% for key, value in totals.items %} 
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
{% endfor %}
    </table>

</body>
{% endblock %}
