{% extends "base.html" %}
{% block content %}
<body>
    <h2>Buildings</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Room<br> Number</td>
        <td>Area</td>
        <td>Furniture </td>
        <td>Price</td>
    </tr>
{% for object in object_list %}
    <tr>
<td>{{object.name}}</td>
{% for room in object.rooms.all %}
<td>{{room.number}}</td>
{% endfor %}
{% for area in object.areas.all %}
<td>{{area.name}}</td>
{% endfor %}
<td>
{% for furniture in object.furnitures.all %}
{{furniture.name}}<br>
{% endfor %}
</td>
<td>
{% for furniture in object.furnitures.all %}
{{furniture.price}}<br>
{% endfor %}
</td>
    </tr>
{% endfor %}
</table>
<br>
<h2>Total Furniture Amount</h2>
    <table>
    <tr>
        <td>Building</td>
        <td>Total<br> Furniture</td>
    </tr>
    <tr>
{% for key, value in totals.items %} 
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
{% endfor %}
    </table>
</body>
{% endblock %}




