
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/main.js" type="text/javascript"></script>


<a href="{% url 'building:index' %}">Building</a>
<a href="{% url 'room:index' %}">Rooms</a>
<a href="{% url 'area:index' %}">Areas</a>
<a href="{% url 'register' %}">Register</a>
<div>
    <button id="btnGetPersoneller">Get All Rooms</button>
    <div id="allPersonel" style="color:chocolate;font-size:12px;"></div>
</div>
<br>
<br>
<br>

<div>
  <form id="room-form" class="modal-content animate" method="post" action="">
    <div class="container">
      <label for="number"><b>Room Number</b></label>
      <input type="number" placeholder="Enter Room Number" id="number" name="number" required>
      </label>
    </div>
  </form>
</div>

